<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Calc</title>
</head>
<body>
    <div class="calc">
        <form action="/calc" method="GET">
        <label for="amount">Loan Amount</label>
        <input type="text" id ="amount" name ="amount"><br>
        <label for="duration">Duration</label>
        <input type="text" id="duration" name ="duration"><br>
        <label for="interest">Interest Rate</label>
        <input type="text" id="interest" name ="interest"><br>
        <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>